body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

.header img {
	margin: 0 0 10px;
}

h4 {
	font-size: 16px;
}

.chart-title {
	margin: 10px 0 15px;
}

.react-datepicker-wrapper {
	width: 100%;
	position: absolute;
}
.react-datepicker-wrapper .datepicker-field {
	width: 100%;
	height: 38px;
	padding: 5px;
	border: 1px solid #DDD;
	border-radius: 3px;
	font-size: 14px;
	padding-left: 70px;
}
.react-datepicker-popper {
	z-index: 20;
}
.input-group-text {
	z-index: 10;
	min-width: 60px;
}
.recharts-wrapper {
    margin-left: -20px;
}
